@media screen and (max-width: 425px) {
    body {
        padding: .6em;
        overflow-x: hidden;
    }

    .navbar {
        padding: .6em;
        font-weight: 500;
    }

    .navbar__img {
        position: absolute;
        right: 1em;
        top: 2%;
    }
    
    .navbar__conteudo {
        display: none;
    }

    .navbar__botoes {
        display: none;
    }

    .cabecalho {
        gap: 10px;
        padding: 2em .5em;
        height: auto;
    }

    .cabecalho__titulo {
        font-size: 2.5em;
        text-align: center;
    }

    .cabecalho__paragrafo {
        width: 100%;
        font-size: 1em;
        font-weight: 500;
        text-align: center;
        padding: 0 1em;
    }

    .metricas {
        align-items: center;
        flex-direction: column;
        padding-bottom: 0;
    }

    .metrica__individuais {
        width: 280px;
        text-align: center;
        border: 1px solid #D0D5DD;
        border-radius: 1em;
        padding: 1em;
    }

    .vagas {
        padding: 4em 0;
    }

    .vagas__titulo {
        font-size: 2.4em;
        text-align: center;
        letter-spacing: -.02em;
    }

    .vagas__paragrafo {
        font-size: 1em;
        text-align: center;
        margin-bottom: 2em;
    }

    .imagem__vagas {
        width: 100%;
        height: 30%;
        margin-bottom: 0;
    }

    .vagas__titulo--descricao {
        font-size: 1em;
        width: 100%;
        margin: 60px 0 32px;
    }

    .vagas__descricao {
        width: 100%;
    }

    .comentarios {
        padding: 1em;
        margin: .5em 1em 2em 1em;
    }

    .comentarios__generico {
        font-size: 1em;
        text-align: center;
    }

    .comentarios__titulo {
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0;
    }

    .rodape {
        width: 100%;
        padding: 1em 0;
    }

    .rodape__titulo {
        font-size: 1.6em;
        text-align: center;
    }

    .rodape__paragrafo {
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
        margin-bottom: 1.2em;
    }

    .rodape__input {
        margin-bottom: 1em;
    }

    .rodape__input::placeholder {
        font-weight: 500;
        font-size: 1em;
        letter-spacing: 0.1em;
        text-align: center;
    }

    .botao__mobile {
        display: flex;
        width: 30%;
        margin-bottom: 3em;
    }

    .rodape__generico {
        font-size: 1em;
        text-align: center;
        margin-top: 3em;
        margin-bottom: 6em;
    }

    .navbar__botoes-cadastrar {
        padding: 0.8em 1em;
        margin: auto;
    }

    /* Menu hamburguer */
    .menu {
        border: none;
        background-color: transparent;
        font-size: 2em;
        cursor: pointer;
        padding-left: 2%;
        display: block;
    }

    .menu-lateral {
        display: flex;
        flex-direction: column;
        background-color: #ffe9e9;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 50vw;
        height: 45vh;
        position: absolute;
        top: 6%;
        left: -100vw;
        transition: 1s;
        padding: .5em;
    }

    .menu-lateral--ativo {
        top: 6%;
        left: 0;
        transition: 1s;
        padding: 1em 1em;
    }
    .menu-lateral__link {
        height: 50px;
        color: var(--preto);
        font-weight: 600;
        padding-left: 1.5em;
        text-align: start;

    }

    .menu-lateral--entrar {
        color: var(--cinza);
        font-weight: 600;
        margin-top: 1.5em;
        
    }

    .menu-lateral--cadastrar {
        background-color: var(--vermelho);
        color: #ffffff;
        border-radius: 8px;
        width: 65%;
        /* height: 3em; */
        text-align: center;
        padding: 1em;
        margin-left: 13%;
    }
}